
@import "bootstrap-slider/src/less/bootstrap-slider";


.slide-wrap {
  width: 90% !important;
  margin: 0 auto;
}
.slider.slider-horizontal {
  width: 100% !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}





