
@import "bootstrap-slider/src/less/bootstrap-slider";


.slide-wrap {
  width: 90% !important;
  margin: 0 auto;
}
.slider.slider-horizontal {
  width: 100% !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.skill-block {

  .skill-category {
    margin-top: 25px;
    .skill-category-header {
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
      vertical-align: middle;

      .skill-count {
        font-size: 0.6em;
        font-weight: normal;
        font-style: italic;
        text-align: center;
        //.badge;
        //border: 1px solid #CCC;
        width: 28px;
        line-height: 28px;
      }
    }
  }

  ol.skill-item-list {
    list-style: none;
    padding: 0;

  }

}


.EntryEdit {

  /*
  .tk-form {
    fieldset {
      margin-bottom: 15px;
      legend {
        font-size: 1.8em;
        margin-bottom: 10px;
      }
    }
    .tk-form-events {
      margin-top: 25px !important;
    }

    .form-group.tk-item {
      vertical-align: middle;
      .error-block {
        display: none;
      }
    }

    .skill-item {
      padding: 10px 0;
      margin-left: 15px;
      margin-right: 15px;

      .skill-item-name {
        font-size: 1.1em;
        .uid {
          display: inline-block;
          padding-right: 5px;
        }
      }
      .skill-input {
        .slider-tick-label {
          color: #999;
        }
      }
    }
  }

  .instructions {
    table {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
  */

  .instructions {
    table {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
  .skill-input {
    .slider-tick-label {
      color: #999;
    }
  }

  form.tk-form .skill-group .form-row {
    margin: 0;
  }
  .skill-group .form-row .skill-item-name {
    vertical-align: middle;
    padding-top: 20px;
    font-size: 1.6rem;
  }
  .skill-group .form-row .skill-input {
    padding-top: 10px;
  }
  .skill-group .form-row span.uid {
    display: inline-block;
    margin-right: 10px;
  }

  .tk-form fieldset:first-child legend {
    display: none !important;
  }
  .skill-entry-view .skill-group .error-block { display: none !important; position: absolute !important; }


}


.slider-tick-label {
  font-size: 0.8em;
}